<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/shared.css">
    <link rel="stylesheet" href="/public/styles/counselor.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <img height="40" src="/public/images/homewardlogo.png" alt="homeward logo">
        <img width="40" id="menu" src="/public/images/menu.svg" alt="navigation bar menu button">
        <ul id="navbar">
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="resources.html">GET HELP</a></li>
            <li><a href="volunteer.html">GET INVOLVED</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
        <a id="volunteer-btn" href="volunteer.html">VOLUNTEER</a>
    </header>
    <nav id="side-nav">
        <div id="ribbon"><img width="30" src="/public/images/close.svg" alt="close menu button"></div>
        <ul id="side-navbar">
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="resources.html">GET HELP</a></li>
            <li><a href="volunteer.html">GET INVOLVED</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a id="side-volunteer-btn" href="volunteer.html">VOLUNTEER</a></li>
        </ul>
    </nav>
    <main class="counselor-container">
        <section ="counselor-selection">

        </section>
        <section class="counselor-map">

        </section>
    </main>
</body>
<script src="/public/scripts/index.js"></script>
</html>