<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
   <link rel="stylesheet" href="/public/styles/shared.css">
    <link rel="stylesheet" href="/public/styles/counselor.css">
    <title>HomeWard</title>
</head>

<body>
    <header id="header">
        <img height="40" src="images/homewardlogo.png" alt="homeward logo">
        <img width="40" id="menu" src="images/menu.svg" alt="navigation bar menu button">
        <ul id="navbar">
            <li><a href="index.html">HOME</a></li>
            <li><a href="resources.html">GET HELP</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
        <a id="volunteer-btn" href="volunteer.html">VOLUNTEER</a>
    </header>
    <nav id="side-nav">
        <div id="ribbon"><img width="30" src="images/close.svg" alt="close menu button"></div>
        <ul id="side-navbar">
            <li><a href="index.html">HOME</a></li>
            <li><a href="resources.html">GET HELP</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a id="side-volunteer-btn" href="volunteer.html">VOLUNTEER</a></li>
        </ul>
    </nav>
    <div class="placeholder"></div>
    <main class="counselor-container">
        <section class="counselor-section">
            <form id="form" method="get">
                <input id="zip" name="zipcode" type="text" placeholder="ZIP CODE" pattern="[0-9]{5}" 
                    oninvalid="setCustomValidity('Please enter a 5 digit zip code')"
                    oninput="setCustomValidity('')" required/>
                <select id="radius" name="rad" placeholder="RADIUS">
                    <option value="5">5 Miles</option>
                    <option value="10">10 Miles</option>
                    <option value="15">15 Miles</option>
                    <option value="20" selected>20 Miles</option>
                    <option value="50">50 Miles</option>
                </select>
                <button type="submit" id="submit">Go!</button>
            </form>
            <hr>
            <p>1,000,000 search results:</p>
            <p><em>Please choose a counselor at your best convencience.</em></p>
            {{#each results}}
            {{!-- {{#if agcid}} --}}
            <section class="counselor-choice" >
                {{#if this.icon}}<img src="{{ this.icon }}" aria-hidden />{{/if}}
                {{#if this.name}} <p>{{ this.name }}</p> {{/if}}
                {{#if this.vicinity}} <p>{{ this.vicinity }}</p> {{/if}}
            </section>
            {{!-- {{else}}{{/if}} --}}
            {{/each}}
        </section>
        <section id="map"></section>
    </main>
</body>
<script src="/public/scripts/index.js"></script>
<script src="/public/scripts/foodbanks.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBgAhCPbNjviOE0NapTIt_5lQxRG3GkSRI&libraries=places&map_ids=123014699cdb1245&callback=initMap"></script>
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places" defer></script> --}}
</html>