*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
    overflow: none;
}


html {
    font-size: 12px;

    @media only screen and (min-width: 481px) {
        font-size: 16px;
    }
}

.section-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 42vh;
    top: 0;
    /* z-index: -1; */
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("../images/heroimgnew.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (min-width: 481px) {

        
    }
}

/* #hero_img {
    width: 300%;
    height: auto;
    object-fit: contain;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));

    @media only screen and (min-width: 481px) {
        width: 100%;

    }
} */

.header-brand {
    position: absolute;
    width: 20rem;
    color: black;

    @media only screen and (min-width: 481px) {
       width: 45rem; 
    }
}

#header-text {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
    font-family: TTFirs;
    color: white;
    font-family: "libre franklin", sans-serif;

    @media only screen and (min-width: 481px) {
       font-size: 4.9rem; 
    }
}

#building-icon {
    /* position: absolute; */
    width: 8rem;
    height: 8rem;
}

.section-middle {
    display: flex;
    /* align-items: space-between; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section-location {
    display: flex;
    flex-direction: column;
    width: 33.70rem;
    height: 35rem;
    align-items: space-around;
    justify-content: space-evenly;
}


.section-location-hq {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.locations-text {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 1.1;
    /* text-align: center; */
    font-family: TTFirs;

    @media only screen and (min-width: 481px) {
       font-size: 2rem; 
    }
}

#locations-header-text {
    font-size: 2.5rem;
    line-height: 1.1;
    text-align: center;
    font-family: TTFirs;

    @media only screen and (min-width: 481px) {
       font-size: 3.2rem; 
    }
}

.section-residences {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#residences-para {
    width: 19rem;
    height: 8rem;
}

.base-text{
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 1px;
    
    @media only screen and (min-width: 481px) {
       font-size: 1.3rem; 
    }

}

.section-bottom {
    display: flex;
    justify-content: space-around;
    background-image: url('../images/Green-concrete-wall.jpg');
    align-items: center;
    flex-wrap: wrap;
}

.button-next {
    margin-bottom: 1rem;
    border-radius: 9px;
    font-size: 20px;
    margin-top: 1rem;
    height: 3.5rem;
    font-family: Silka, Montserrat;
    color: #ffffff;
    font-weight: 900;
    color: black;
}


.section_square-2 {
    /* background-color: #FFFFFF; */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: .5rem;
    /* box-shadow: 4px 4px 12px #00000014; */


    @media only screen and (min-width: 481px) {
        width: 34rem;
    html {
        font-size: 12px;
    }
    }
}

.section_square-2 > div {
    display: flex;
    /* justify-content: space-between; */
    margin: .5rem 0;
}

.contact_label {
    font-weight: 600;
    color: black;
    font-family: TTfirs, Montserrat;
}


.section_square2-inputs {
    height: 3rem;
    font-size: 20px;
    width: 100%;
    border: 2px solid black;
}

#first-name, #last-name {
    height: 3rem;
    font-size: 20px;
    border: 2px solid black;
    width: 50%;
}

input {
    border-radius: 9px;
    text-indent: 1rem;
    background-color: #EDF2F7;
}


.section-bottom-left {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    border-radius: .5rem;
    box-shadow: 4px 4px 12px #00000014;


    @media only screen and (min-width: 481px) {
        width: 34rem;
        height: 34.31rem;
    html {
        font-size: 12px;
    }
    }
}

.contact-header-text {
    font-size: 2.3rem;
    line-height: 1.1;
    text-align: center;
    font-weight: normal;

    @media only screen and (min-width: 481px) {
       font-size: 3.2rem; 
    }

}

.contact-para {
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    
    @media only screen and (min-width: 481px) {
       font-size: 1.6rem; 
    }
}
