.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("../images/foodkitchen.jpeg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}
.hero-image p {
  font-size: 2rem;
}
.hero-image button {
  background-color: #E7BCDE;
  padding: 0;
  margin: 10px 0;
  color: white;
  width: 140px;
  height: 50px;
  border-radius: 6px;
  border: solid 1px #67729D;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: white;
}

.tab {
  margin: 0px 0;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.tab button {
  background-color: #E7BCDE;
  padding: 0;
  margin: 10px 0;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  border: solid 1px #67729D;
}
.tab button:hover {
  cursor: pointer;
}

@keyframes highlight-one {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  1% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  5% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  10% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  15% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
  }
}
@keyframes highlight-two {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  1% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  5% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  10% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  15% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
}
@keyframes highlight-three {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  1% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  5% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  10% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  15% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  }
}
@keyframes highlight-four {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  1% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  5% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  10% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  15% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  30% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
  }
}
.tab--one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
}
.tab--one:hover {
  animation-name: highlight-one;
  animation-duration: 0.25s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/handshake.jpg");
}

.tab--two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  background-position: bottom;
}
.tab--two:hover {
  animation-name: highlight-two;
  animation-duration: 0.25s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
}

.tab--three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
  background-position: top;
}
.tab--three:hover {
  animation-name: highlight-three;
  animation-duration: 0.25s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/classroom.jpg");
}

.tab--four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
}
.tab--four:hover {
  animation-name: highlight-four;
  animation-duration: 0.25s;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../images/convo.jpg");
}/*# sourceMappingURL=index.css.map */