$primary-color: #67729D;
$secondary-color: #A4C8FF;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    // overflow-x: hidden;
}

// #header {
//     padding: 20px ;
// }

body {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    // width: 100vw;
}

#menu {
    display: none;
}


#volunteer-btn {
    display: none;
    text-align: center;
    align-content: center;
    margin: 0 50px;
    border: solid 1px black;
    border-radius: 5px;
    width: 150px;
    background-color: #1A428A;
    font-size: 1rem;
    color: white;
    text-decoration: none;

    @media only screen and (min-width: 920px) {
        display: block;

    }
}

#side-nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 500px;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8));
    font-size: 2rem;
}

#side-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 0;

    li {
        list-style: none;
        margin: 20px;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

#ribbon {
    display: flex;
    flex-direction: row-reverse;

    img {
        margin: 5px;
    }
}

#side-volunteer-btn {
    display: block;
    text-align: center;
    align-content: center;
    border: solid 1px black;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: #1A428A;
    font-size: 1rem;
    color: white;
}

.first-container {
    display: flex;
    flex-direction: column;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("../images/heroimgnew.jpg");
    // height: 400px;
    // height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 400;

    p {
        font-size: 2rem;
        text-align: center;

        @media only screen and (min-width: 1025px) {
            width: 800px;
            text-align: unset;

        }
    }

    .button-section {
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (min-width: 1025px) {
            display: unset;

        }
    }

    button {
        background-color: $secondary-color;
        padding: 0;
        margin: 10px 0;
        // color: white;
        width: 140px;
        height: 50px;
        border-radius: 6px;
        border: solid 1px $primary-color;
        // text-align: center;
        align-items: center;

    }

    .headline {
        font-size: 2rem;
        font-family: "Libre Franklin", sans-serif;

        @media only screen and (min-width: 1025px) {
            width: 800px;

        }
    }

    @media only screen and (min-width: 1311px) {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        height: 100vh;


    }
}

#headline-top-para {
        margin-top: 10rem;

    @media only screen and (min-width: 1400px) {
        margin-top: 0;

    }
    
}


#pics-grid {
    border-radius: 10%;
    width: 75%;

    @media only screen and (min-width: 1025px) {
        width: 500px;

    }
}

.middle-container {
    background-image: url("../images/Yellow-spackle-wall.jpg");
    // height: 400px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .housing-img{
        width: 100%;
        // width: 75rem;
        // height: 37.5rem;
        height: 42rem;
    }

    .message-theme {
        font-family: "Libre Franklin", sans-serif;
        background-color: #f2f8f2;
        // background-color: white;
        // background-color: #73a48e;
        text-align: center;
        width: 70%;
        font-size: 2rem;
        position: absolute;
        bottom: -5%;
        border-radius: 5%;

        @media only screen and (min-width: 1025px) {
            font-size: 4rem;

        }

        h4 {
            margin: 2rem;
            padding: 0;

        }
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: white;
}

.tab {
    margin: 0px 0;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    button {
        background-color: $secondary-color;
        padding: 0;
        margin: 10px 0;
        color: white;
        width: 100px;
        height: 40px;
        border-radius: 6px;
        border: solid 1px $primary-color;

        &:hover {
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 920px) {
    #navbar {
        display: none;
    }

    #menu {
        display: inline;
        margin-right: 4rem;

        &:hover {
            cursor: pointer;
        }

        @media only screen and (min-width: 920px) {
            margin: unset;

        }

    }

    #ribbon {
        cursor: pointer;
    }
}

.first-section-container {
    background-color: #3d7c55;
    display: flex;
    justify-content: center;
}

.first-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("../images/heroimgnew.jpg");
    // height: 400px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #3d7c55;
    // #96b385
    width: 100%;
    height: 100%;
    // border-radius: 1.5rem;
    padding-bottom: 2rem;

    @media only screen and (min-width: 1400px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50rem;
        padding: 2rem;
    }

}

.first-section-para {
    margin-top: 3.5rem;
    // margin-left: 1rem;
    color: white;
    text-align: center;

    @media only screen and (min-width: 1025px) {
        width: 34rem;
        margin-left: 4rem;
        margin-top: 5.5rem;
        text-align: unset;
        
    }
}

.section-statement_word {
    color: #A4C8FF;
}

.section-statement {
    font-size: 1.6rem;

    @media only screen and (min-width: 481px) {
        font-size: 2rem;
        
    }
}

.home-cards {
    display: flex;
    grid-gap: 3rem;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    flex-wrap: wrap;


    @media only screen and (min-width: 1025px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        // margin-top: 9rem;
        
    }

    /* @media (min-width: 1026px) {
        flex-direction: column;
    } */
}

.card {
    // font-family: "Libre Franklin", sans-serif;
    width: 22.5rem;
    height: 28.125rem;
    box-shadow: 4px 4px 12px #00000014;
    border-radius: 18px;
    position: relative;
    background-color: #f2f8f2;
    // background-color: white;
    // background-color: #73a48e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_img {
    width: 12rem;
    // height: 28.125rem;
    // box-shadow: 4px 4px 12px #00000014;
}

.home-card-section {
    position: absolute;
    top: 0;
    color: white;
    padding: 20px;
}

.title {
    font-size: .75rem;
    font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-bottom: 8px;
}

.title-white {
    color: #f5f5f7;
}

.description {
    text-decoration: none;
    text-align: center;
    font-size: 1.75rem;
    font-family: SF Pro Display, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.1429;
}

.white {
    color: #ffffff;
}

.black {
    color: #1D1D1F;
}

.title-black {
    color: #6e6e73;
}

.price {
    font-size: 1.0625rem;
    font-family:  SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.2353;
    padding-top: 10px;
}

.card_hover > div {
    transition: transform 1s;
}

.card_hover > div:hover {
    transition: transform 1s;
    transform: scale(1.05);
}
