body{
    margin: 0;
    padding: 0;
}

main{
    margin:0;
    padding: 0;
}

.nav{
    width: 100vw;
    height: 24rem;
    background: url(../images/heroimg.jpeg)no-repeat;
    background-position: cover;
     background-size: 100%;
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 2rem; 
    padding: 1rem; 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.resources{
    display: flex;
    width: 100vw;
    flex-direction: column;
    background: url(../images/orange_peel.jpg)no-repeat;
    background-position: cover;
    background-size: 100%;
    background-attachment: scroll;
    backdrop-filter: blur(5px);
}

.bodyWords{
    margin-top: 3rem;
    text-align: center;
    color:  rgb(65, 177, 134);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.data-container {
    align-self: center;
    display: grid;
    margin-top: 2%;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 20px;
}


.data-item {
    background-color: rgb(255, 255, 255);
    width: 21rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    padding-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 50%;
  }

.data-item:hover{
    background-color: rgb(65, 177, 134);
}




.flip-card {
    border: none;
    justify-content: center;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 50px;
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px;
 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    height: fit-content;
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}


.ReachOut{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: url(../images/purp.jpg);
    height: 15rem;
    font-size: x-large;
}

.ReachOut a{
   color: rgb(65, 177, 134);
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
   font-weight: bolder;
    text-decoration: none;
    border: 3px solid  rgb(65, 177, 134);
    width: 100px;
    margin-top: 10px;
    padding: 10px;
    background-color:rgb(221, 221, 246);
}

.ReachOut a:hover{
    background-color:  rgb(65, 177, 134);
    color: white;
}

.wrapper{
    height: fit-content;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
    .data-container {
        grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 900px) {
    .data-container {
        grid-template-columns: repeat(3, 1fr);
   }
}
