body{
    margin: 0;
    padding: 0;
}

main{
    margin:0;
    padding: 0;
}

.resources{
    background-image: url('https://img.freepik.com/premium-photo/purple-white-background-painting-light-lavender-gradient-texture-brush-strokes-paper_145343-1533.jpg?w=360');
    backdrop-filter: blur(20px);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.bodyWords{
    text-align: center;
}


.data-container {
    max-width: 900px;
    display: grid;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


.data-item {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 50%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: 50%;
  }

.data-item:hover{
    background-color: blue;
}




.flip-card {
    border: none;
    justify-content: center;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 50px;
    background-color: transparent;
    width: 100%;
    height: 200px;
    perspective: 1000px;
 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    height: fit-content;
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}


.ReachOut{
    text-align: center;
}

.ReachOut a{
    text-decoration: none;
    border: 2px solid blue;
    width: 100px;
    margin-top: 10px;
    padding: 10px;
}

.ReachOut a:hover{
    background-color: blue;
    color: white;
}

.wrapper{
    height: fit-content;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
    .data-container {
        grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 900px) {
    .data-container {
        grid-template-columns: repeat(3, 1fr);
   }
}
